{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.summary%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if entity.type == 'story' and resource_granted('oro_issue_create') %}
        {{ UI.addButton({
        'path' : path('oro_subissue_create', {'parentIssueCode' : entity.code}),
        'entity_label': 'oro.issue.subentity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path' : path('oro_issue_update', { id: entity.id }),
        'entity_label': 'oro.issue.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
        'dataUrl': path('oro_api_delete_issue', {'id': entity.id}),
        'dataRedirect': path('oro_issue_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-user',
        'dataId': entity.id,
        'entity_label': 'oro.issue.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('oro_issue_index'),
    'indexLabel': 'oro.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set issueInformation -%}
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.issue.summary_label'|trans, entity.summary) }}
            {{ UI.renderProperty('oro.issue.code_label'|trans, entity.code) }}
            {{ UI.renderHtmlProperty('oro.issue.description_label'|trans, entity.description|nl2br) }}
            {{ UI.renderProperty('oro.issue.organization_label'|trans, entity.organization) }}
            {{ UI.renderProperty('oro.issue.type_label'|trans, entity.type) }}
            {{ UI.renderProperty('oro.issue.resolution_label'|trans, entity.resolution) }}
            {{ UI.renderProperty('oro.issue.assignee_label'|trans, entity.assignee) }}
            {{ UI.renderProperty('oro.issue.reporter_label'|trans, entity.reporter) }}
            {{ UI.renderProperty('oro.issue.created_label'|trans, entity.createdAt|oro_format_datetime) }}
            {{ UI.renderProperty('oro.issue.updated_label'|trans, entity.updatedAt|oro_format_datetime) }}
            {{ UI.renderProperty('oro.issue.priority_label'|trans, entity.priority) }}

            {%- set ownerData -%}
            {%- if entity.owner -%}
                {% if resource_granted('oro_user_user_view') %}
                    <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                        {{ entity.owner|oro_format_name|escape }}
                    </a>
                {% else %}
                    {{ entity.owner|oro_format_name|escape }}
                {% endif %}
            {%- endif -%}
            {%- endset -%}
            {{ UI.renderHtmlProperty('oro.issue.owner_label'|trans, ownerData) }}

            {% if entity.parent is not empty %}
                    {{ UI.button({
                    'path':  path('oro_issue_view', {'id': entity.parent.id}),
                    'label': 'oro.issue.parent_issue_label'|trans,
                    'title': 'oro.issue.parent_issue_label'|trans,
                    }) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}

    {% set dataBlocks = [
    {
    'title': 'General Information'|trans,
    'class': 'active',
    'subblocks': [
    {'data' : [issueInformation]}
    ]
    }
    ] %}

    {% if entity.type == 'story' %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.issue.subissue_label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [dataGrid.renderGrid('sub-issue-grid', {'parent_id': entity.id})]
        }]
        }] ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
    'title': 'oro.issue.collaborators_label'|trans,
    'subblocks': [{
    'title': '',
    'useSpan': false,
    'data' : [dataGrid.renderGrid('collaborators-grid', {'issue_id': entity.id})]
    }]
    }] ) %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}